{% extends "basic/layout.html" %}

{% block relbar1 %}
  <div id="logo">
    <img src="/_static/cakespa.png" />
  </div>
  {{ super() }}
{% endblock %}

{% block sidebarsourcelink %}{% endblock %}
{% block sidebarsearch %}
{%- if pagename != 'search' %}
<div id="searchbox" style="display: none">
<h3>検索</h3>
  <form class="search" action="{{ pathto('search') }}" method="get">
    <input type="text" name="q" size="18" />
    <input type="submit" value="{{ _('Go') }}" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
{% endif %}
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#cakespa',
  interval: 6000,
  title: '#cakespa',
  subject: 'CakePHP温泉部',
  width: 210,
  height: 300,
  theme: {
    shell: {
      background: '#afc1c4',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#ca7900'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
