{% extends "layout.html" %}
{% block body %}
  {{ body }}
  {%- if pagename != 'index' %}
  <div id="page_footer">
    <div id="page_meta_left">
      <ul>
        <li>作成者</li>
          <ul><li>{{ meta['author'] }}</li></ul>
        <li>作成日</li>
          <ul><li>{{ meta['created'] }}</li></ul>
        <li>編集日</li>
          <ul><li>{{ meta['modified'] }}</li></ul>
      </ul>
    </div>
    <div id="page_meta_right">
      <ul>
        <li>対応</li>
          <ul><li>CakePHP {{ meta['cakephp'] }}</li></ul>
      </ul>
    </div>
    <div class="clearer" />
  </div>
  {%- endif %}
{% endblock %}
